{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title></title>
</head>
<body>
  <div id="wrapper">
  <div id="header" style="margin-top:12px;">
    <!-- Navigation bar -->
    <div class="navbar" style="box-sizing: border-box; ">
      <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
      <a href="#" style="float: right; margin-right:25px; "><i class="fa fa-fw fa-user"></i> Login</a>
    </div>    
  <div class="container">
        <div id="heading-block">
          <h2>Recently Release Material's</h2>
        </div>
      </div>

      <!-- New product -->
      <div class="prod-container">
        <!-- First Product -->
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>

        <!-- Second Product -->
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>


        <!-- Third Product -->
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
        <div class="prod-box">
          <img src="{% static 'images/sculptures.jpg' %}" alt="new 1">
          <div class="prod-trans">
            <div class="prod-feature">
              <p>Decoration Light</p>
              <p style="color:#fff;font-weight: bold;">price: 800/piece</p>
              <input type="button" value="Add to Cart">
            </div>
          </div>
        </div>
</body>
</html>

  